header {
    color: wheat;
    font-size: 20px;
    background-color: brown;
    
    height: 30%;
}

.body {
    background-image: url(images/mokuzai.jpg);
    background-repeat: repeat-x;
}


.dat {
    /* color :blue;  */
    font-size: large;
}

.contaioner {
    font-family: 'Courier New', Courier, monospace;
    /* background-color: aqua; */
    height: 400px;


}